[MESSAGES CONTROL]
disable = 
    C0415, # import-outside-toplevel
    W0718, # Catching too general exception
    W0603, # Using the global statement
    W0105, # pointless-string-statement
    E0601, # used-before assignment
    C0103, # doesn't conform to snake_case naming

[MASTER]
ignore-paths=^.*\.pyi$