name: Publish PicoUnits (Capitalized)

on:
  push:
    tags:
      - 'v*.*.*'
      - '*.*.*'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write 
    environment: 
      name: pypi 
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    
    - name: Install build tools
      run: python -m pip install --upgrade pip build
      
    - name: Temporarily set name to PicoUnits
      run: |
        sed -i 's/name = "picounits"/name = "PicoUnits"/g' pyproject.toml
      
    - name: Build package
      run: python -m build
      
    - name: Publish package to PyPI (PicoUnits)
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        targets: PicoUnits